<div class="jumbotron">
  <h1 class="display-5 text-center">Detalles de respuestas</h1>
  <hr class="my-4">

  <div class="container">
    <div class="row">


      <div class="col animated zoomInDown">
          <div class="card  border-primary   ">
            <div class="card-header bg-primary text-white text-center">
              <div class="container">
                <div class="row  mx-0  no-gutters justify-content-center align-items-center ">
                  <div class="col px-0 ">
                    <img src="{{imgequipo5}}" class="rounded" width="58" height="36"> {{equipo5}}
                  </div>
  
  
                  <div class="col">
                    <h6> VS </h6>
  
                  </div>
  
                  <div class="col px-0">
                    <img src="{{imgequipo6}}" class="rounded" width="58" height="36"> {{equipo6}}
                  </div>
  
  
                </div>
              </div>
            </div>
  
  
            <div class="card-body">
              <div class="container">
                <div class="row ">
                  <table class="table  table-hover text-center   ">
                    <thead>
                      <tr class="table-warning text-center">
                        <th scope="col" colspan="2">Respuestas Elegidas</th>                         
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-primary ">
                        <td>B</td>
                        <td>C</td>  
                      </tr>                    
                    </tbody>
                  </table>


                  <table class="table  table-hover text-center  no-gutters ">
                      <thead>
                        <tr class="table-warning text-center">
                          <th scope="col" colspan="2">Respuestas Correctas</th>
                   
    
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-primary ">
                          <td>C</td>
                          <td>A</td>  
                        </tr>                    
                      </tbody>
                    </table>

                </div>
              </div>
            </div>
            <div class="card-footer bg-primary text-white">
              <h6>Puntajes Por Partido : {{puntajePorPartido}} </h6>
            </div>
          </div>
        </div>

        <div class="col animated zoomInDown">
            <div class="card  border-primary   ">
              <div class="card-header bg-primary text-white text-center">
                <div class="container">
                  <div class="row   mx-0 no-gutters justify-content-center align-items-center ">
                    <div class="col ">
                      <img src="{{imgequipo5}}" class="rounded" width="58" height="36"> {{equipo5}}
                    </div>
    
    
                    <div class="col">
                      <h6> VS </h6>
    
                    </div>
    
                    <div class="col">
                      <img src="{{imgequipo6}}" class="rounded" width="58" height="36"> {{equipo6}}
                    </div>
    
    
                  </div>
                </div>
              </div>
    
    
              <div class="card-body">
                <div class="container">
                  <div class="row ">
                    <table class=" table text-center  ">
                      <thead>
                        <tr class="table-warning text-center">
                          <th scope="col" colspan="2">Respuestas Elegidas</th>                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-primary ">
                          <td>B</td>
                          <td>C</td>  
                        </tr>                    
                      </tbody>
                    </table>
  
  
                    <table class="table  table-hover text-center  no-gutters ">
                        <thead>
                          <tr class="table-warning text-center">
                            <th scope="col" colspan="2">Respuestas Correctas</th>
                     
      
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="table-primary ">
                            <td>C</td>
                            <td>A</td>  
                          </tr>                    
                        </tbody>
                      </table>
  
                  </div>
                </div>
              </div>
              <div class="card-footer bg-primary text-white">
                <h6>Puntajes Por Partido : {{puntajePorPartido}} </h6>
              </div>
            </div>
          </div>

          <div class="col animated zoomInDown">
              <div class="card  border-primary   ">
                <div class="card-header bg-primary text-white text-center">
                  <div class="container">
                    <div class="row  mx-0s  no-gutters justify-content-center align-items-center ">
                      <div class="col ">
                        <img src="{{imgequipo5}}" class="rounded" width="58" height="36"> {{equipo5}}
                      </div>
      
      
                      <div class="col">
                        <h6> VS </h6>
      
                      </div>
      
                      <div class="col">
                        <img src="{{imgequipo6}}" class="rounded" width="58" height="36"> {{equipo6}}
                      </div>
      
      
                    </div>
                  </div>
                </div>
      
      
                <div class="card-body">
                  <div class="container">
                    <div class="row ">
                      <table class="table  table-hover text-center  no-gutters ">
                        <thead>
                          <tr class="table-warning text-center">
                            <th scope="col" colspan="2">Respuestas Elegidas</th>                         
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="table-primary ">
                            <td>B</td>
                            <td>C</td>  
                          </tr>                    
                        </tbody>
                      </table>
    
    
                      <table class="table  table-hover text-center  no-gutters ">
                          <thead>
                            <tr class="table-warning text-center">
                              <th scope="col" colspan="2">Respuestas Correctas</th>
                       
        
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="table-primary ">
                              <td>C</td>
                              <td>A</td>  
                            </tr>                    
                          </tbody>
                        </table>
    
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-primary text-white">
                  <h6>Puntajes Por Partido : {{puntajePorPartido}} </h6>
                </div>
              </div>
            </div>
     
    </div>

  </div>


  <!-- OTRA FILA -->

 

  <!--  -->





</div>