<h1 class="display-3 text-center animated bounceIn">



  ¡Respuestas Anteriores!</h1>

<br>

<div class="container">

  <div class="row">

      <div class="col">
          <div class="card  border-primary   animated  animated bounceInLeft   ">
              <div class="card-header bg-primary text-white text-center">
                  <div class="row   justify-content-center align-items-center">
                      <div class="col">
                          <h5> {{equipo1}}</h5>

                          <img src="{{imgEquipo1}}" class="border " width="58" height="36">

                      </div>

                  </div>
              </div>
              <div class="card-body bg-light   ">          
                  <!-- Pregunta -->
                  <div class="container ">
                      <div class="row  text-center">
                          <h5>¿Cuantas bibliotecas hay en colombia?</h5>
                      </div>
                      <div class="row">
                          <div class="col">
                            <div class="list-group bg-primary ">
                              <a class="list-group-item list-group-item-action"> 17 bibliotecas  </a>
                              <a  class="list-group-item list-group-item-action bg-success respuestaCorrecta" style="color: white;">25 bibliotecas   </a>
                              <a  class="list-group-item list-group-item-action ">35 bibliotecas </a>
                              <a  class="list-group-item list-group-item-action ">58 bibliotecas </a>
                            </div>
                          </div>
                      </div>
                  </div>


              </div>

          </div>

      </div>

      <!-- Otra columna -->

      <div class="col">

          <div class="card  border-primary  animated bounceInRight">
              <div class="card-header bg-dark text-white text-center">
                      <div class="row   justify-content-center align-items-center">
                              <div class="col">
                                  <h5> {{equipo5}}</h5>
      
                                  <img src="{{imgEquipo5}}" class="border " width="58" height="36">
      
                              </div>
      
                          </div>
              </div>
              <div class="card-body bg-light   ">

                 

                  <!-- Pregunta -->
                  <div class="container">
                      <div class="row  text-center">
                          <h5>¿Cuantas bibliotecas hay en brasil?</h5>
                      </div>
                      <div class="row">
                          <div class="col">
                            <div class="list-group bg-primary ">
                              <a class="list-group-item list-group-item-action   "> 17 bibliotecas  </a>
                              <a  class="list-group-item list-group-item-action   ">25 bibliotecas   </a>
                              <a  class="list-group-item list-group-item-action ">35 bibliotecas </a>
                              <a  class="list-group-item list-group-item-action respuestaCorrecta  bg-success" style="color: white;">58 bibliotecas </a>
                            </div>
                          </div>
                      </div>
                  </div>


              </div>

          </div>


      </div>
  </div>
  <br>


</div>