

<header>
<div class="container">
    <div class="row  ">
      <div class="col-md-2 col-12 col-lg-2 col-xs-1 col-sm-2 " >
        <img src="../../../assets/imagenes/logoUdea.png" alt="logoUdea" >        
      </div>
      <div class="col-md-10 col-12 col-lg-10 col-xs-11 col-sm-10  texto" >
        <br>
        <strong><h2>Sistema de Bibliotecas</h2></strong>
          <h4>Universidad de Antioquia</h4>      
          <h3>{{nombreApp}}</h3>             
      </div>
</div>
</div>
</header>




